/* MAIN CSS */
body {
	background:#171613;
	font-family:"MF_R";
}

/* GENERAL */
	.main {
		width:100%;
		max-width:980px;
		margin:0 auto;
	}
	
	.main__center {
		max-width:980px;
		margin:0 auto;
	}

	.clear {
		float:none;
		clear:both;
	}
	
	.hidden {
		display:none;
	}
	
	.animation {
		visibility:hidden;
	}
	
	.font-bold { font-family:"MF_B" }
	.font-ibold { font-family:"MF_BI" }
	.font-italic { font-family:"MF_I" }
/* --END-- GENERAL */

/* HEADER */
	.header {
		width:100%;
		position:absolute;
		top:0;
		left:0;
		color:#FFF;
		z-index:10;
	}
	
	.header__fixed {
		width:100%;
		min-height:63px;
		background:url("../images/header-bg.png");
		position:fixed;
		top:0;
		left:0;
		z-index:20;
	}
	
	.header-logo {
		margin:6px 0 0;
		float:left;
		
		transition: all .3s; 
		-moz-transition: all .3s;
		-webkit-transition: all .3s; 
		-o-transition: all .3s;
		border-radius: 100%; 
		-moz-border-radius: 100%; 
		-webkit-border-radius: 100%;
	}
	
	.header-logo:hover {
		-moz-transform: rotate(400grad); 
		-webkit-transform: rotate(400grad); 
		-o-transform: rotate(400grad); 
		transform: rotate(400grad); 
		-ms-transform: rotate(400grad); 
	}
	
	.header__bottom {
		position:relative;
		margin-top:80px;
	}
	
	.header__number {
		font-size:30px;
		float:right;
	}
	
	.header__fixed .header__number {
		display:none;
		color:#ef7d00;
	}
	
	.callback-button {
		height:23px;
		line-height:23px;
		padding:0 20px;
		margin:5px 8px 0 24px;
		font-size:14px;
		float:right;
		background:url("../images/callback-button-bg.png") 0 -45px repeat-x;
		position:relative;
		cursor:pointer;
	}
	
	.callback-button__border:before {
		content:"";
		width:8px;
		height:23px;
		background:url("../images/callback-button-bg.png") no-repeat;
		position:absolute;
		left:-8px;
		top:1px;
	}
	
	.callback-button__border:after {
		content:"";
		width:8px;
		height:23px;
		background:url("../images/callback-button-bg.png") 0 -23px no-repeat;
		position:absolute;
		right:-8px;
		top:1px;
	}
	
	

/* --END-- HEADER */
	
/* TOP MENU */
	.top-menu {
		margin:0;
		padding:0;
		list-style:none;
		float:right;
		font-size:15px;
	}
	
	.top-menu .link {
		color:#FFF;
		text-decoration:none;
	}

	.top-menu__item {
		margin:0 0 0 22px;
		float:left;
		padding:23px 0;
		position:relative;
		color:#FFF;
		text-decoration:none
	}

	.top-menu__item_active {
		background:url("../images/top-menu-bg.png") 0 -127px repeat-x;
	}

	.top-menu__highlight:before {
		content:"";
		width:22px;
		height:63px;
		background:url("../images/top-menu-bg.png") no-repeat;
		position:absolute;
		left:-22px;
		top:1px;
	}

	.top-menu__highlight:after {
		content:"";
		width:22px;
		height:63px;
		background:url("../images/top-menu-bg.png") 0 -64px no-repeat;
		position:absolute;
		right:-22px;
		top:1px;
	}
	
	.top-menu-icon {
		width:30px;
		height:20px;
		background:url("../images/menu-icon.png") no-repeat;
		cursor:pointer;
		float:right;
		margin:22px 0 0 42px;
		display:none;
	}
/* --END-- TOP MENU */

/* INDEX SECTION */
	.index-section {
		position:relative;
	}

	.index-section__next {
		width:41px;
		height:41px;
		background:url("../images/section-arrow.png") no-repeat;
		cursor:pointer;
		position:absolute;
		bottom:10px;
		left:50%;
		margin-left:-20px;
	}
/* INDEX SECTION */

/* MAIN SLIDER */
	.main-slider {
		min-height:766px;
		position:relative;
	}
	
	.main-slider__item {
		min-height:766px;
		position:relative;
		background-repeat:no-repeat;
	}
	
	.main-slider__item__inner {
		max-width:780px;
		margin:0 auto;
		padding:199px 44px 0 68px;
		color:#FFF;
	}
	
	.main-slider__right {
		float:right;
		font-size:48px;
	}
	
	.main-slider__left {
		float:left;
		margin:95px 0 0;
	}
	
	
	.main-slider__text {
		text-transform:uppercase; 
		line-height:120%; 
		text-shadow:0 0 10px #000;
	}
	
	.main-slider__text__item {
		display:inline-block;
	}
	
	.main-slider__text__big-font {
		font-size:60px;
		padding-left:100px; 
		color:#f86f00;
	}
	
	.main-slider__video-icon {
		width:81px;
		height:81px;
		background:url("../images/video-icon.png") no-repeat;
		cursor:pointer;
		position:absolute;
		top:50%;
		left:50%;
		margin:-40px 0 0 -40px;
	}
	
	.main-slider__arrow {
		width:18px;
		height:49px;
		background:url("../images/slider-arrows.png") no-repeat;
		position:absolute;
		cursor:pointer;
		top:50%;
		margin-top:-24px;
		
		transition: all .3s; 
		-moz-transition: all .3s;
		-webkit-transition: all .3s; 
		-o-transition: all .3s;
		border-radius: 100%; 
		-moz-border-radius: 100%; 
		-webkit-border-radius: 100%;
	}
	
	.main-slider__arrow_left {
		background-position:0 0;
		left:0;
	}
	
	.main-slider__arrow_right {
		background-position:-19px 0;
		right:0;
	}
	
	.main-slider__arrow:hover {
		-moz-transform: scale(1.3); 
		-webkit-transform: scale(1.3); 
		-o-transform: scale(1.3);
		transform: scale(1.3); 
		-ms-transform: scale(1.3);
	}
	
	.main-slider__nav {
		position:absolute;
		bottom:12px;
		right:0;
	}
	
	.main-slider__nav__item {
		width:10px;
		height:10px;
		display:inline-block;
		background:url("../images/slider-nav.png") no-repeat;
		cursor:pointer;
		margin:0 0 0 6px;
	}
	
	.main-slider__nav__item_active {
		background-position:-11px 0;
		cursor:default;
	}
	
	.bg-list {
		margin:8px 0 0;
	}
	
	.bg-list__item {
		height:19px;
		line-height:19px;
		background:#ef7d00;
		display:inline-block;
		margin:2px 0 0 7px;
		clear:both;
	}
	
	.bg-list__item a {
		color:#FFF;
		text-decoration:none;
	}
	
	.bg-list__item:before {
		content:"";
		float:left;
		width:7px;
		height:19px;
		background:url("../images/bg-list-orange.png") no-repeat;
		position:relative;
		left:-7px;
		top:0px;
	}
	
	.bg-list__item:after {
		content:"";
		float:right;
		width:7px;
		height:19px;
		background:url("../images/bg-list-orange.png") 0 -20px no-repeat;
		position:relative;
		left:7px;
		top:0px;
	}
	
	.bg-list__item_white {
		color:#f86f00;
		background:#FFF;
	}
	
	.bg-list__item_white a {
		color:#f86f00;
	}
	
	.bg-list__item_white:before {
		background:url("../images/bg-list-white.png") no-repeat;
	}
	
	.bg-list__item_white:after {
		background:url("../images/bg-list-white.png") 0 -20px no-repeat;
	}
	
	/* ADVANTAGES */
		.advantages {
			list-style:none;
			margin:76px 0 0;
			padding:0;
			color:#FFF;
			padding:0 44px 0 68px;
		}
		
		.advantages__item {
			width:20%;
			min-width:90px;
			float:left;
			text-align:center;
		}
		
		.advantages__title {	
			display:inline-block;
			text-transform:uppercase;
			font-size:14px;
		}
		
		.advantages__title__inner {
			width:100%;
			height:38px;
			display:table-cell;
			vertical-align:middle;
		}
		
		.advantages__desc {
			margin:9px 0 0;
			font-size:12px;
		}
	/* --END-- ADVANTAGES */
	
/* --END-- MAIN SLIDER */	